$cor-principal: #E9F8F9;
$cor-secundaria: #181823;
$cor-form: #f1f1f1;
$fonte-principal: 'Nunito', sans-serif;

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fonte-principal;
}

html, body {
    @include reset();
}

body {
    background-color: $cor-principal;
    color: $cor-secundaria;
    height: 100vh;

    @media  screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
}
